body {
    align-items: center;
    text-align: center;
    align-content: center;
    background-color: black;
    color: white;
}

div{
    align-items: center;
    align-content: center;
    text-align: center;
}

button {
    border-style: none;
    color: white;
    background-color: black;
    border-radius: 10px;
    width: 150px;
    height: 30px;
}

.url {
    color: red;
    text-decoration: none;
}

.box {
  width: 200px;
  height: 100px;
  background-color: #f0f0f000;
  border: 1px solid #ffffff;
  padding: 16px;
  margin: 10px;
}